<div class="resume-intro py-3">
    <div class="media flex-column flex-md-row align-items-center">
        {{ if .Site.Params.profile.avatar }}
        <img width="120" height="120"
            class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
            src="{{ .Site.BaseURL }}assets/images/{{ .Site.Params.profile.avatar }}"
            alt="Image of myself in a forest.">
        {{ end }}
        <div class="media-body text-left">
            <p class="mb-0">{{ .Site.Params.summary.text | markdownify }}</p>
        </div>
    </div>
</div>